@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

body {
  padding: 10px;
}

#app {
  display: flex;
}

main {
  width: 100%;
}

td button {
  text-align: center;
  width: 50px;
  padding: 5px 0;
  margin-right: 10px;
  border-radius: 10px;
}

.add {
  background: #00bf63;
  color: white;
  padding: 5px;
  border: 2px solid #018042;
  border-radius: 5px;
  transition: background 0.2s;
  width: 200px;
}
.add:hover {
  cursor: pointer;
  background: #ffffff;
  color: #018042;
}