@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --c-gray-900: #000000;
  --c-gray-800: #1f1f1f;
  --c-gray-700: #2e2e2e;
  --c-gray-600: #313131;
  --c-gray-500: #969593;
  --c-gray-400: #a6a6a6;
  --c-gray-300: #bdbbb7;
  --c-gray-200: #f1f1f1;
  --c-gray-100: #ffffff;
  --c-green-500: #4cd372;
  --c-green-600: #33c55d;
  --c-blue-500: #3491d8;
  --c-blue-600: #277fc2;
  --c-white: var(--c-gray-100);
  --c-text-primary: var(--c-gray-100);
  --c-text-secondary: var(--c-gray-200);
  --c-text-tertiary: var(--c-gray-500);
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--c-gray-900);
  color: var(--c-text-primary);
  display: flex;
  justify-content: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font: -webkit-control;
}

img {
  display: block;
  max-width: 100%;
}


input {
  width: 100%
}

a {
  color: inherit;
}

.responsive-wrapper {
  width: 90%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

input:focus-visible {
  outline: 0;
}

.btn-gray, .btn-green, .btn-blue {
  border-radius: 6px;
  padding: 0.5em 0.8em;
  border: 0;
  display: flex;
  color: var(--c-text-secondary);
  transition: 0.25s ease;
  cursor: pointer;
  align-items: center;
}

.btn-gray {
  background-color: var(--c-gray-700);
}

.btn-gray:hover, .btn-gray:focus {
  background-color: var(--c-gray-600);
}

.btn-green {
  background-color: var(--c-green-500);
  color: var(--c-text-secondary);

}

.btn-green:hover,
.btn-green:focus {
  background-color: var(--c-green-600);
}

.btn-blue {
  background-color: var(--c-blue-500);
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: var(--c-blue-600);
}

.dropdown:before,
.dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  pointer-events: none;
}

input,
.dropdown-select, textarea {
  background-color: #333;
  border-radius: 10px;
  height: 2.8em;
  padding: 0.6em;
  color: #f5f5f5;
  border: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  color: #f5f5f5;
  border: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #111;
}

input:focus, .dropdown-select:focus, textarea:focus {
  outline: none;
  border-color: var(--c-green-500);
  box-shadow: 0 0 0 1px var(--c-green-500), 0 0 0 4px #5aed8352;
}

.dropdown-select>option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #fff; 
  border-radius: 3px;
  cursor: pointer;
}

#app {
  width: 100%;
  background-color: var(--c-gray-800);
  padding: 2vw 4vw 6vw;
  display: flex;
  flex-direction: column;
}

.app-body-main-content {
  width: 56%
}
.app-body-sidebar {
  padding-left: 2em
}
.app-body {
  display: flex;
  flex-direction: column;
  /*   display: grid;
  grid-tem  plate-columns: minmax(-webkit-min-content, 175px) minmax(-webkit-max-content, 1fr) minmax(-webkit-min-content, 400px);
  grid-template-columns: minmax(min-content, 210px) minmax(max-content, 1fr) minmax(min-content, 400px);
  -moz-column-gap: 4rem;
  column-gap: 4rem; */
  padding-top: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--c-gray-100);
  border-bottom-color: var(--c-green-500);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: var(--c-green-500);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-green-500);
}

@media (max-width: 1200px) {
  .app-body {
    grid-template-columns: 1fr;
  }

  .app-body>* {
    margin-bottom: 3.5rem;
  }
}